<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="body-jonathan">
  <main class="main-jonathan">
    <section class="section-jonathan">
        <h1 class="h1-jonathan">Peliculas y series ilimitadas <br>
             en un solo lugar</h1>
        <h2 class="h2-jonathan">Disfruta donde quieras. <br>
        Cancela en cualquier momento.</h2>
        <a class="mainReg" href="">Registrarse</a>
    </section>
    <section class="buscadorPrincipal">
        <h2 class="tituloSeccion">¿Que estas buscando para ver?</h2>
        <form class="buscadorPeli">
            <input class="inputBuscar" type="text" placeholder="Buscar...">
            <input class="botonBuscar" type="submit" value="Buscar">
        </form>
    </section>
</main>

</body>

</html>