<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAC-Movies</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <header></header>
  <main>
    <div class="bg-carrousel">
      <div class="carrousel">
        <h3>Las más aclamadas</h3>
        <div class="c-img">
          <img src="../public/img/aclamada_1.jpg" alt="">
          <img src="../public/img/aclamada_2.jpg" alt="">
          <img src="../public/img/aclamada_3.jpg" alt="">
          <img src="../public/img/aclamada_4.jpg" alt="">
          <img src="../public/img/aclamada_5.jpg" alt="">
          <img src="../public/img/aclamada_6.jpg" alt="">
          <img src="../public/img/aclamada_7.jpg" alt="">
          <img src="../public/img/aclamada_8.jpg" alt="">
          <img src="../public/img/aclamada_9.jpg" alt="">
          <img src="../public/img/aclamada_10.jpg" alt="">
          <img src="../public/img/aclamada_11.jpg" alt="">
          <img src="../public/img/aclamada_12.jpg" alt="">
          <img src="../public/img/aclamada_13.jpg" alt="">
        </div>
      </div>
    </div>

  </main>
  <footer></footer>
</body>

</html>